.footer {
  background: #0a2850;
  padding: 60px 80px 60px 80px;
  position: relative;
  z-index: 1;
  color: white;
}
.footer__circle {
  position: absolute;
  z-index: 0;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #2f80ed;
}
.footer__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  width: 105px;
  height: 39px;
}
.footer__social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__social-heading {
  margin-bottom: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.footer__list-item {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__social-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer__social-link:focus {
  color: #c1c1c1;
}
.footer__copyright {
  margin-top: 108px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
