.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 110vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
}
.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  height: 568px;
  width: 646px;
}

.header__title {
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  position: absolute;
  top: 252px;
  left: 80px;
}
.header__title-blue {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: absolute;
  top: 425.6px;
  left: 80px;
}
.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 80px;
  align-items: end;
}
.header__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #838383;
}
