.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 80px;
}
.nav__logo {
  width: 105px;
  height: 39px;
}
.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
