.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 16px;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  padding-top: 0;
  margin-bottom: 0;
}
.recipes__card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 215px;
  justify-content: center;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}
.recipes__card-footer {
  display: flex;
  justify-content: space-between;
}
