.page {
  min-width: 1100px;
  max-width: 1600px;
  align-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 110vh;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}
.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  position: relative;
  top: 30px;
  right: 80px;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  height: 568px;
  width: 646px;
}
.header__title {
  max-width: 708px;
  position: absolute;
  top: 183px;
  left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 0;
}
span {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  font-family: "noto-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: absolute;
  left: 80px;
  top: 28px;
  margin: 0;
}
